* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

a { /* text characteristics in <a> texts */
    color: #ffffff;
    text-decoration: none;
}

p { /* text characteristics in <p> texts */
    font-size: 16px;
}


/* Header */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 { /* 'Horiseon' name in header */
    display: inline-block;
    font-size: 48px;
}
.header h1 .seo { /* to make 'seo' a different font color */
    
    color: #d9dcd6;
}

.header div { /* header links characteristics */
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
.header div ul li { /* header links list styling */  
    list-style-type: none;
    display: inline-block;
    margin-left: 25px;
}


/* Footer */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
.footer h2 {
    font-size: 20px;
}


/* Hero Shot image characteristics */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    object-fit: cover;
}


/* 3 Main Content blocks */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
.content-blocks { /* blue boxes */
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
.content-blocks h2 { /* block titles */
    margin-bottom: 20px;
    font-size: 36px;
}
.content-blocks img{
    max-height: 200px;
}
.float-left { /*puts image in left of content block*/
    float: left;
    margin-right: 25px;
}
.float-right { /*puts image in right of content block*/
    float: right;
    margin-left: 25px;
}


/* benefits section */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
.benefit-info {
    margin-bottom: 32px;
    color: #ffffff;
}
.benefit-info h3 {
    margin-bottom: 10px;
    text-align: center;
}
.benefit-info img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}